name: Trigger auto deployment for nzaplcontainerappwithcicd

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - 'nzaplsimplecontainerweb/**'
    - '.github/workflows/nzaplcontainerappwithcicd-AutoDeployTrigger-b56876c7-c491-4dbe-ace8-113ca6af1e22.yml'

  # Allow mannually trigger 
  workflow_dispatch:      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to container registry
        uses: docker/login-action@v1
        with:
          registry: nzaplcontainerapp20221213161739.azurecr.io
          username: ${{ secrets.NZAPLCONTAINERAPPWITHCICD_REGISTRY_USERNAME }}
          password: ${{ secrets.NZAPLCONTAINERAPPWITHCICD_REGISTRY_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: nzaplcontainerapp20221213161739.azurecr.io/nzaplcontainerappwithcicd:${{ github.sha }}
          file: ./nzaplsimplecontainerweb/Dockerfile


  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.NZAPLCONTAINERAPPWITHCICD_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |           
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n nzaplcontainerappwithcicd -g nzaplcontainerapps-rg --server nzaplcontainerapp20221213161739.azurecr.io --username  ${{ secrets.NZAPLCONTAINERAPPWITHCICD_REGISTRY_USERNAME }} --password ${{ secrets.NZAPLCONTAINERAPPWITHCICD_REGISTRY_PASSWORD }}
            az containerapp update -n nzaplcontainerappwithcicd -g nzaplcontainerapps-rg --image nzaplcontainerapp20221213161739.azurecr.io/nzaplcontainerappwithcicd:${{ github.sha }}
